[Unit]
Description=FlipperBoards Pi App Controller (MQTT)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/flipperboards-appctl/appctl.py /etc/flipperboards/appctl.json
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
